{% import "functions.jinja2" as functions with context %}
# Configuration distributed by Ansible
# Default interfaces
{{ functions.create_interfaces(openwrt_defaultinterfaces) }}
# Global configuration
config globals "globals"
{% if openwrt_network_globals_ula is defined %}
        option ula_prefix "{{ openwrt_network_globals_ula }}"
{% endif %}

# Devices
{% if openwrt_network_devices is defined %}
{{ functions.create_devices(openwrt_network_devices) }}
{% endif %}

# Interfaces
{% if openwrt_network_interfaces is defined %}
{{ functions.create_interfaces(openwrt_network_interfaces) }}
{% endif %}
