---
- name: List packages to install
  debug:
    var: openwrt_packages_install
- name: Install packages
  community.general.opkg:
    name: "{{ openwrt_packages_install | join(openwrt_packages_separator) }}"
    state: present
    update_cache: true
  when:
    - openwrt_packages_install is defined
    - not openwrt_packages_runimagebuilder | default(false)
