{% macro create_zones(allzones) %}
{% for key, value in allzones.items() %}
{% if ( value['disabled'] is not defined ) or ( value['disabled'] is defined and not value['disabled'] )%}
config zone
	option name "{{ key }}"
	option forward "{{ value['forward'] }}"
	option input "{{ value['input'] }}"
	option output "{{ value['output'] }}"
{% if value['log'] is defined %}
	option log "{{ value['log'] }}"
{% endif %}
{% if value['masq'] is defined %}
	option masq "{{ value['masq'] }}"
{% endif %}
{% if value['mtu_fix'] is defined %}
	option mtu_fix "{{ value['mtu_fix'] }}"
{% endif %}
{% if value['interfaces'] is defined %}
{% for interface in value['interfaces'] %}
	list network "{{ interface }}"
{% endfor %}
{% endif %}
{% if value['masq_src'] is defined %}
{% for masq_src in value['masq_src'] %}
	list masq_src "{{ masq_src }}"
{% endfor %}
{% endif %}
{% if value['masq_dest'] is defined %}
{% for masq_dest in value['masq_dest'] %}
	list masq_dest "{{ masq_dest }}"
{% endfor %}
{% endif %}
{% endif %}

{% endfor %}
{% endmacro %}

{% macro create_forwarding(singleforward) %}
config forwarding
        option src "{{ singleforward['src'] }}"
	option dest "{{ singleforward['dest'] }}"
{% if singleforward['name'] is defined %}
        option name "{{ singleforward['name'] }}"
{% endif %}
{% if singleforward['family'] is defined %}
        option family "{{ singleforward['family'] }}"
{% endif %}
{% if singleforward['enabled'] is defined %}
        option enabled "{{ singleforward['enabled'] }}"
{% endif %}

{% endmacro %}

{% macro create_rules(allrules) %}
{% for key, value in allrules.items() %}
config rule
	option name "{{ key }}"
{% if value['enabled'] is defined %}
	option enabled "{{ value['enabled'] }}"
{% endif %}
{% if value['family'] is defined %}
	option family "{{ value['family'] }}"
{% endif %}
{% if value['proto'] is defined %}
{% if "icmp" in value['proto'] %}
	option proto "icmp"
{% if value['icmp_type'] is defined %}
{% for icmp_type in value['icmp_type'] %}
	list icmp_type "{{ icmp_type }}"
{% endfor %}
{% endif %}
{% endif %}
{% if "udp" in value['proto'] %}
	option proto "udp"
{% endif %}
{% if "tcp" in value['proto'] %}
	option proto "tcp"
{% endif %}
{% if "igmp" in value['proto'] %}
	option proto "igmp"
{% endif %}
{% if "esp" in value['proto'] %}
	option proto "esp"
{% endif %}
{% endif %}
{% if value['src'] is defined %}
	option src "{{ value['src'] }}"
{% endif %}
{% if value['src_ip'] is defined %}
{% for src_ip in value['src_ip'] %}
	list src_ip "{{ src_ip }}"
{% endfor %}
{% endif %}
{% if value['dest'] is defined %}
	option dest "{{ value['dest'] }}"
{% endif %}
{% if value['dest_ip'] is defined %}
{% for dest_ip in value['dest_ip'] %}
	list dest_ip "{{ dest_ip }}"
{% endfor %}
{% endif %}
{% if value['src_port'] is defined %}
	option src_port "{{ value['src_port'] }}"
{% endif %}
{% if value['dest_port'] is defined %}
	option dest_port "{{ value['dest_port'] }}"
{% endif %}
{% if value['limit'] is defined %}
	option limit "{{ value['limit'] }}"
{% endif %}
	option target "{{ value['target'] }}"

{% endfor %}
{% endmacro %}
