{% import "functions.jinja2" as functions with context %}
# Configuration deployed by Ansible

# Global dnsmasq configuration
config dnsmasq
{% if openwrt_dhcp_dnsmasq_domainneeded is defined %}
	option domainneeded "{{ openwrt_dhcp_dnsmasq_domainneeded }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_boguspriv is defined %}
	option boguspriv "{{ openwrt_dhcp_dnsmasq_boguspriv }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_filterwin2k is defined %}
	option filterwin2k "{{ openwrt_dhcp_dnsmasq_filterwin2k }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_localise_queries is defined %}
	option localise_queries "{{ openwrt_dhcp_dnsmasq_localise_queries }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_rebind_protection is defined %}
	option rebind_protection "{{ openwrt_dhcp_dnsmasq_rebind_protection }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_rebind_localhost is defined %}
	option rebind_localhost "{{ openwrt_dhcp_dnsmasq_rebind_localhost }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_local is defined %}
	option local "{{ openwrt_dhcp_dnsmasq_local }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_domain is defined %}
	option domain "{{ openwrt_dhcp_dnsmasq_domain }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_expandhosts is defined %}
	option expandhosts "{{ openwrt_dhcp_dnsmasq_expandhosts }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_nonegcache is defined %}
	option nonegcache "{{ openwrt_dhcp_dnsmasq_nonegcache }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_authoritative is defined %}
	option authoritative "{{ openwrt_dhcp_dnsmasq_authoritative }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_readethers is defined %}
	option readethers "{{ openwrt_dhcp_dnsmasq_readethers }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_leasefile is defined %}
	option leasefile "{{ openwrt_dhcp_dnsmasq_leasefile }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_resolvfile is defined %}
	option resolvfile "{{ openwrt_dhcp_dnsmasq_resolvfile }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_nonwildcard is defined %}
	option nonwildcard "{{ openwrt_dhcp_dnsmasq_nonwildcard }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_localservice is defined %}
	option localservice "{{ openwrt_dhcp_dnsmasq_localservice }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_interface is defined %}
{% for listenif in openwrt_dhcp_dnsmasq_interface %}
	list interface "{{ listenif }}"
{% endfor %}
{% endif %}
{% if openwrt_dhcp_dnsmasq_notinterface is defined %}
{% for notlistenif in openwrt_dhcp_dnsmasq_notinterface %}
	list notinterface "{{ notlistenif }}"
{% endfor %}
{% endif %}

# DHCP Pools
# Host based DHCP pool definitions
{% if openwrt_dhcp_poolshost is defined %}
{{ functions.create_pools(openwrt_dhcp_poolshost) }}
{% endif %}

# Host based DHCP pool definitions
{% if openwrt_dhcp_poolsmergedgroup is defined %}
{{ functions.create_pools(openwrt_dhcp_poolsmergedgroup) }}
{% endif %}

# Leases
{% if openwrt_dhcp_leases is defined %}
{% for lease in openwrt_dhcp_leases %}
config host
	option name "{{ lease['name'] }}"
{% if lease['mac'] is defined %}
	option mac "{{ lease['mac'] }}"
{% endif %}
{% if lease['hostid'] is defined %}
	option hostid "{{ lease['hostid'] }}"
{% endif %}
{% if lease['duid'] is defined %}
	option duid "{{ lease['duid'] }}"
{% endif %}
{% if lease['tag'] is defined %}
	option tag "{{ lease['tag'] }}"
{% endif %}
{% if lease['dns'] is defined %}
	option dns "{{ lease['dns'] }}"
{% endif %}
{% if lease['broadcast'] is defined %}
	option broadcast "{{ lease['broadcast'] }}"
{% endif %}
{% if lease['leasetime'] is defined %}
	option leasetime "{{ lease['leasetime'] }}"
{% endif %}
{% if lease['instance'] is defined %}
	option instance "{{ lease['instance'] }}"
{% endif %}
{% if lease['ip'] is defined %}
	option ip "{{ lease['ip'] }}"
{% endif %}
{% endfor %}
{% endif %}

# Hostname overrides
{% if openwrt_dhcp_hostoverrides is defined %}
{% for hostoverride in openwrt_dhcp_hostoverrides %}
config domain
	option name "{{ hostoverride['name'] }}"
	option ip "{{ hostoverride['ip'] }}"
{% endfor %}
{% endif %}
