# Configuration deployed by Ansible

# Global dnsmasq configuration
config dnsmasq
{% if openwrt_dhcp_dnsmasq_domainneeded is defined %}
	option domainneeded "{{ openwrt_dhcp_dnsmasq_domainneeded }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_boguspriv is defined %}
	option boguspriv "{{ openwrt_dhcp_dnsmasq_boguspriv }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_filterwin2k is defined %}
	option filterwin2k "{{ openwrt_dhcp_dnsmasq_filterwin2k }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_localise_queries is defined %}
	option localise_queries "{{ openwrt_dhcp_dnsmasq_localise_queries }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_rebind_protection is defined %}
	option rebind_protection "{{ openwrt_dhcp_dnsmasq_rebind_protection }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_rebind_localhost is defined %}
	option rebind_localhost "{{ openwrt_dhcp_dnsmasq_rebind_localhost }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_local is defined %}
	option local "{{ openwrt_dhcp_dnsmasq_local }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_domain is defined %}
	option domain "{{ openwrt_dhcp_dnsmasq_domain }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_expandhosts is defined %}
	option expandhosts "{{ openwrt_dhcp_dnsmasq_expandhosts }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_nonegcache is defined %}
	option nonegcache "{{ openwrt_dhcp_dnsmasq_nonegcache }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_authoritative is defined %}
	option authoritative "{{ openwrt_dhcp_dnsmasq_authoritative }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_readethers is defined %}
	option readethers "{{ openwrt_dhcp_dnsmasq_readethers }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_leasefile is defined %}
	option leasefile "{{ openwrt_dhcp_dnsmasq_leasefile }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_resolvfile is defined %}
	option resolvfile "{{ openwrt_dhcp_dnsmasq_resolvfile }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_nonwildcard is defined %}
	option nonwildcard "{{ openwrt_dhcp_dnsmasq_nonwildcard }}"
{% endif %}
{% if openwrt_dhcp_dnsmasq_localservice is defined %}
	option localservice "{{ openwrt_dhcp_dnsmasq_localservice }}"
{% endif %}

#DHCP Pools
{% if openwrt_dhcp_poolshost is defined %}
{% for pool in openwrt_dhcp_poolshost %}
config dhcp "{{ pool['name'] }}"
	option interface "{{ pool['interface'] }}"
	option leasetime "{{ pool['leasetime'] | default('12h', true) }}"
	option start "{{ pool['start'] }}"
	option limit "{{ pool['limit'] }}"
{% if pool['dhcp_option'] is defined %}
{% for option in pool['dhcp_option'] %}
	list dhcp_option "{{ option }}"
{% endfor %}
{% endif %}
{% if pool['dhcp_option_force'] is defined %}
{% for option in pool['dhcp_option_force'] %}
	list dhcp_option_force "{{ option }}"
{% endfor %}
{% endif %}
{% if pool['domain'] is defined %}
{% for domain in pool['domain'] %}
	list domain "{{ domain }}"
{% endfor %}
{% endif %}
{% if pool['dns'] is defined %}
{% for dns in pool['dns'] %}
	list dns "{{ dns }}"
{% endfor %}
{% endif %}
{% if pool['ra_flags'] is defined %}
{% for ra_flag in pool['ra_flags'] %}
	list ra_flags "{{ ra_flag }}"
{% endfor %}
{% endif %}
{% if pool['dynamicdhcp'] is defined %}
	option dynamicdhcp "{{ pool['dynamicdhcp'] }}"
{% endif %}
{% if pool['force'] is defined %}
	option force "{{ pool['force'] }}"
{% endif %}
{% if pool['ignore'] is defined %}
	option ignore "{{ pool['ignore'] }}"
{% endif %}
{% if pool['dhcpv4'] is defined %}
	option dhcpv4 "{{ pool['dhcpv4'] }}"
{% endif %}
{% if pool['dhcpv6'] is defined %}
	option dhcpv6 "{{ pool['dhcpv6'] }}"
{% endif %}
{% if pool['ra'] is defined %}
	option ra "{{ pool['ra'] }}"
{% endif %}
{% if pool['ra_default'] is defined %}
	option ra_default "{{ pool['ra_default'] }}"
{% endif %}
{% if pool['ra_management'] is defined %}
	option ra_management "{{ pool['ra_management'] }}"
{% endif %}
{% if pool['ra_offlink'] is defined %}
	option ra_offlink "{{ pool['ra_offlink'] }}"
{% endif %}
{% if pool['ra_preference'] is defined %}
	option ra_preference "{{ pool['ra_preference'] }}"
{% endif %}
{% if pool['ra_mininterval'] is defined %}
	option ra_mininterval "{{ pool['ra_mininterval'] }}"
{% endif %}
{% if pool['ra_maxinterval'] is defined %}
	option ra_maxinterval "{{ pool['ra_maxinterval'] }}"
{% endif %}
{% if pool['ra_lifetime'] is defined %}
	option ra_lifetime "{{ pool['ra_lifetime'] }}"
{% endif %}
{% if pool['ra_useleasetime'] is defined %}
	option ra_useleasetime "{{ pool['ra_useleasetime'] }}"
{% endif %}
{% if pool['ra_hoplimit'] is defined %}
	option ra_hoplimit "{{ pool['ra_hoplimit'] }}"
{% endif %}
{% if pool['ra_reachabletime'] is defined %}
	option ra_reachabletime "{{ pool['ra_reachabletime'] }}"
{% endif %}
{% if pool['ra_retranstime'] is defined %}
	option ra_retranstime "{{ pool['ra_retranstime'] }}"
{% endif %}
{% if pool['ra_mtu'] is defined %}
	option ra_mtu "{{ pool['ra_mtu'] }}"
{% endif %}
{% if pool['ra_dns'] is defined %}
	option ra_dns "{{ pool['ra_dns'] }}"
{% endif %}
{% if pool['ndp'] is defined %}
	option ndp "{{ pool['ndp'] }}"
{% endif %}
{% if pool['ndproxy_routing'] is defined %}
	option ndproxy_routing "{{ pool['ndproxy_routing'] }}"
{% endif %}
{% if pool['ndproxy_slave'] is defined %}
	option ndproxy_slave "{{ pool['ndproxy_slave'] }}"
{% endif %}
{% if pool['master'] is defined %}
	option master "{{ pool['master'] }}"
{% endif %}
{% if pool['networkid'] is defined %}
	option networkid "{{ pool['networkid'] }}"
{% endif %}
{% if pool['instance'] is defined %}
	option instance "{{ pool['instance'] }}"
{% endif %}
{% endfor %}

{% endif %}

# Leases
{% if openwrt_dhcp_leases is defined %}
{% for lease in openwrt_dhcp_leases %}
config host
	option name "{{ lease['name'] }}"
{% if lease['mac'] is defined %}
	option mac "{{ lease['mac'] }}"
{% endif %}
{% if lease['hostid'] is defined %}
	option hostid "{{ lease['hostid'] }}"
{% endif %}
{% if lease['duid'] is defined %}
	option duid "{{ lease['duid'] }}"
{% endif %}
{% if lease['tag'] is defined %}
	option tag "{{ lease['tag'] }}"
{% endif %}
{% if lease['dns'] is defined %}
	option dns "{{ lease['dns'] }}"
{% endif %}
{% if lease['broadcast'] is defined %}
	option broadcast "{{ lease['broadcast'] }}"
{% endif %}
{% if lease['leasetime'] is defined %}
	option leasetime "{{ lease['leasetime'] }}"
{% endif %}
{% if lease['instance'] is defined %}
	option instance "{{ lease['instance'] }}"
{% endif %}
{% if lease['ip'] is defined %}
	option ip "{{ lease['ip'] }}"
{% endif %}
{% endfor %}
{% endif %}

# Hostname overrides
{% if openwrt_dhcp_hostoverrides is defined %}
{% for hostoverride in openwrt_dhcp_hostoverrides %}
config domain
	option name "{{ hostoverride['name'] }}"
	option ip "{{ hostoverride['ip'] }}"
{% endfor %}
{% endif %}
