{% macro create_pools(listofpools) %}
{% for pool in listofpools %}
config dhcp "{{ pool['name'] }}"
       option interface "{{ pool['interface'] }}"
{% if pool['dhcp_option'] is defined %}
{% for option in pool['dhcp_option'] %}
       list dhcp_option "{{ option }}"
{% endfor %}
{% endif %}
{% if pool['dhcp_option_force'] is defined %}
{% for option in pool['dhcp_option_force'] %}
       list dhcp_option_force "{{ option }}"
{% endfor %}
{% endif %}
{% if pool['dynamicdhcp'] is defined %}
       option dynamicdhcp "{{ pool['dynamicdhcp'] }}"
{% endif %}
{% if pool['force'] is defined %}
       option force "{{ pool['force'] }}"
{% endif %}
{% if pool['ignore'] is defined %}
       option ignore "{{ pool['ignore'] }}"
{% endif %}
{% if pool['dhcpv4'] is defined %}
       option dhcpv4 "{{ pool['dhcpv4'] }}"
{% endif %}
{% if pool['dhcpv6'] is defined %}
       option dhcpv6 "{{ pool['dhcpv6'] }}"
{% endif %}
{% if pool['dns'] is defined %}
{% for dns in pool['dns'] %}
       list dns "{{ dns }}"
{% endfor %}
{% endif %}
{% if pool['dns_service'] is defined %}
	option dns_service "{{ pool['dns_service'] }}"
{% endif %}
{% if pool['ra'] is defined %}
       option ra "{{ pool['ra'] }}"
{% endif %}
{% if pool['ra_default'] is defined %}
       option ra_default "{{ pool['ra_default'] }}"
{% endif %}
{% if pool['ra_flags'] is defined %}
{% for ra_flag in pool['ra_flags'] %}
       list ra_flags "{{ ra_flag }}"
{% endfor %}
{% endif %}
{% if pool['ra_slaac'] is defined %}
       option ra_slaac "{{ pool['ra_slaac'] }}"
{% endif %}
{% if pool['ra_management'] is defined %}
       option ra_management "{{ pool['ra_management'] }}"
{% endif %}
{% if pool['ra_offlink'] is defined %}
       option ra_offlink "{{ pool['ra_offlink'] }}"
{% endif %}
{% if pool['ra_preference'] is defined %}
       option ra_preference "{{ pool['ra_preference'] }}"
{% endif %}
{% if pool['ra_mininterval'] is defined %}
       option ra_mininterval "{{ pool['ra_mininterval'] }}"
{% endif %}
{% if pool['ra_maxinterval'] is defined %}
       option ra_maxinterval "{{ pool['ra_maxinterval'] }}"
{% endif %}
{% if pool['ra_lifetime'] is defined %}
       option ra_lifetime "{{ pool['ra_lifetime'] }}"
{% endif %}
{% if pool['ra_useleasetime'] is defined %}
       option ra_useleasetime "{{ pool['ra_useleasetime'] }}"
{% endif %}
{% if pool['ra_hoplimit'] is defined %}
       option ra_hoplimit "{{ pool['ra_hoplimit'] }}"
{% endif %}
{% if pool['ra_reachabletime'] is defined %}
       option ra_reachabletime "{{ pool['ra_reachabletime'] }}"
{% endif %}
{% if pool['ra_retranstime'] is defined %}
       option ra_retranstime "{{ pool['ra_retranstime'] }}"
{% endif %}
{% if pool['ra_mtu'] is defined %}
       option ra_mtu "{{ pool['ra_mtu'] }}"
{% endif %}
{% if pool['ra_dns'] is defined %}
       option ra_dns "{{ pool['ra_dns'] }}"
{% endif %}
{% if pool['ndp'] is defined %}
       option ndp "{{ pool['ndp'] }}"
{% endif %}
{% if pool['ndproxy_routing'] is defined %}
       option ndproxy_routing "{{ pool['ndproxy_routing'] }}"
{% endif %}
{% if pool['ndproxy_slave'] is defined %}
       option ndproxy_slave "{{ pool['ndproxy_slave'] }}"
{% endif %}
{% if pool['master'] is defined %}
       option master "{{ pool['master'] }}"
{% endif %}
{% if pool['leasetime'] is defined %}
       option leasetime "{{ pool['leasetime'] | default('12h', true) }}"
{% endif %}
{% if pool['limit'] is defined %}
       option limit "{{ pool['limit'] }}"
{% endif %}
{% if pool['networkid'] is defined %}
       option networkid "{{ pool['networkid'] }}"
{% endif %}
{% if pool['start'] is defined %}
       option start "{{ pool['start'] }}"
{% endif %}
{% if pool['instance'] is defined %}
       option instance "{{ pool['instance'] }}"
{% endif %}
{% if pool['tag'] is defined %}
{% for tag in pool['tag'] %}
	list tag "{{ tag }}"
{% endfor %}
{% endif %}
{% if pool['domain'] is defined %}
{% for domain in pool['domain'] %}
       list domain "{{ domain }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endmacro %}
